# Core Python Data Stack
pandas
numpy
scipy

# Visualization
plotly

# Machine Learning / Modeling
scikit-learn==1.3.2
joblib

# Big Data
pyspark

# Dashboard / App Layer
streamlit

# Jupyter Environment
notebook
jupyterlab

# Orchestration / Utilities
apache-airflow==2.9.0
python-dotenv

# Optional Dev Tools
pytest
flake8         